[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.2"
psycopg2-binary = "*"
django-allauth = "==0.61.1"
python-chess = "*"

[dev-packages]

[requires]
python_version = "3.10"
