/* *{
    font-family: 'Roboto Flex', sans-serif;
} */
#container{
    position: relative;
    top: 30px;
    display: flex;
}

#wrapper{
    position: relative;
    left: 100px;
    width: 480px;
    height: 480px;
    /* border: 2px solid black; */
    display: inline-flex;
    flex-wrap: wrap;
}
#wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper div img{
    width: 50px;
    height: 50px;
    user-select: none;
    cursor: grab;
}

#promotion-bar{
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    z-index: 1000;
    border: solid 1px black;
    visibility: hidden;
}
#promotion-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#promotion-bar div img{
    width: 50px;
    height: 50px;
    user-select: none;
}

.white-square {
    width: 60px;
    height: 60px; 
    background-color: #F0D9B5;
}

.black-square {
    width: 60px;
    height: 60px;
    background-color: #B58863;
}


.circle {
    width: 18px; 
    height: 18px; 
    background-color: #3c3c3c7b;
    border-radius: 50%;
}

/* Toolbar styling */
#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    background-color: #383838;
    border-radius: 0 0 8px 8px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#toolbar div {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Hover effect for toolbar icons */
#toolbar div:hover {
    transform: scale(1.2);
}

#toolbar img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

/* Styling for the PGN container */
#pgn {
    position: relative;
    width: 300px;
    height: 480px;
    left: 200px;
    padding-top: 0px;
    border: 1px solid #555;
    background-color: #383838; 
    color: #E0E0E0;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    word-break: break-word;
}

/* Style for each div inside the PGN area */
#pgn div {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 20px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

/* Hover effect for PGN divs */
#pgn div:hover {
    background-color: #555;
}

/* For responsiveness (smaller screens) */
@media screen and (max-width: 600px) {
    #pgn {
        width: 80%;
        left: 10%;
    }

    #toolbar {
        width: 90%;
    }
}

.pgn-move {
    position: absolute;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

/* Hover effect */
.pgn-move:hover {
    color: white; /* Change text color to white */
    transform: scale(1.1); /* Slightly scale up the element */
}

.blind {
    opacity: 0;
}