{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<a href="{% url 'home' %}">home</a>
<h1>puzzles</h1>

{% if user.is_authenticated %}
    Hi {{ user.email }}!
    <a href="{% url 'account_logout' %}">Log Out</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log In</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}

{% for tag, data in puzzles_per_tag_count.items %}
<div><a href="{{ data.url }}">{{ tag }}: {{ data.count }}</a></div>
{% endfor %}
{% endblock content %}