{% extends '_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'puzzles/css/puzzles_by_tag.css' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">home</a>
    >
    <a href="{% url 'puzzle_home' %}">categories</a>
    <h3>{{ tag }}</h3>
    
    <div id="listbar">
    {% for puzzle in puzzles %}
        {% if puzzle in user.solved_puzzles.all %}
            <a href="{% url 'tag_puzzle_list' tag puzzle.id %}" style="background-color: #5B7D5A;">
                {{ forloop.counter }}
            </a>
        {% else %}
            <a href="{% url 'tag_puzzle_list' tag puzzle.id %}" style="background-color: #4F4F4F;">
                {{ forloop.counter }}
            </a>
        {% endif %}
    {% endfor %}
    </div>
    
    {% if detail_puzzle %}
        <div>
            <p>{{ detail_puzzle.description }}</p>
            <p>{{ detail_puzzle.fen }}</p>
            <p>{{ detail_puzzle.elo_rating}}</p>
        </div>
    {% else %}
        <p>No puzzles found for this tag.</p>
    {% endif %}

    <a href="{% url 'tag_puzzle_list' tag next_puzzle_id %}">next</a>
    <form method="post">
        {% csrf_token %}
        <label for="solution">Enter your solution:</label>
        <input type="text" id="solution" name="solution" required>
        <button type="submit">Submit Solution</button>
    </form>
  
{% endblock %}