{% extends '_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'puzzles/css/puzzles_by_tag.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">
<link rel="stylesheet" href="{% static 'css/analyze.css' %}">
{% endblock %}

{% block content %}

    <main id="container">
        {% include 'puzzles/_board.html' %}
        <div>
            <div id="pgn" onclick="pgn_click(event)"></div>
        </div>
    </main>
    <!-- <br>
    <button id="saveGameButton" onclick="saveGame()">Save Game</button>
    
    <label for="exampleText">pgn:</label>
    <textarea id="pgn_textarea" name="userMove" rows="4" cols="50"></textarea>

    <button id="printButton" style="display: none;">Print Text</button> -->
    <div class="savecontainer">
        <label for="exampleText">PGN:</label>
        <textarea id="pgn_textarea" name="userMove" rows="4" cols="50"></textarea>
    </div>
    <button id="saveGameButton" onclick="saveGame()">Save Game</button>

    <script>
        let start_fen = '{{fen}}';
        let pgn_str = '{{ pgn|escapejs }}';
        let from_tos = JSON.parse('{{ from_to|escapejs }}');;
  
        const csrftoken = '{{ csrf_token }}';

        function saveGame() {
            console.log("Save button clicked!");
            fetch(window.location.href, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ save_game: true }),
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;  // Redirect to login or any other page
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data.message) {
                        alert(data.message);
                    } else {
                        console.error(data.error);
                    }
                })
                .catch(error => console.error('Error:', error));    
        }

    </script>
    <script type="module" src="{% static 'js/game.js' %}"></script>
  
{% endblock %}