{% extends '_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/endgamehome.css' %}">
{% endblock %}

{% block content %}
<div id="main-container">
  <div class="title">
    <h3>Endgames By Category</h3>
  </div>

  <div id="category-container">
    {% for category_name, data in endgames_per_category.items %}
      {% if request.user.is_authenticated %}
        <a href="{{ data.url }}" class="category {% if data.count == data.user_solved_count %}solved{% endif %}">
          {{ category_name }}
          <span>{{ data.user_solved_count }} / {{ data.count }}</span>
        </a>
      {% else %}
        <a href="{{ data.url }}" class="category">
          {{ category_name }}
          <span>{{ data.count }}</span>
        </a>
      {% endif %}
    {% empty %}
      <div>No categories found.</div>
    {% endfor %}
  </div>
</div>


{% endblock %}