{% extends '_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'puzzles/css/puzzles_by_tag.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock %}

{% block content %}

    <h3>{{ category.name }}</h3>
    
    <div id="listbar">
    {% for endgame in endgames %}
        {% if endgame == detail_endgame %}
            {% if endgame in user.solved_endgames.all %}
                <a href="{% url 'category_endgame_list' category.name endgame.id %}" style="background-color: #5B7D5A; box-shadow: inset 0 0 0 1px rgb(103, 198, 126);">
                    {{ forloop.counter }}
                </a>
            {% else %}
                <a href="{% url 'category_endgame_list' category.name endgame.id %}" style="background-color: #4F4F4F; box-shadow: inset 0 0 0 1px rgb(186, 186, 186);">
                    {{ forloop.counter }}
                </a>
            {% endif %}
        {% else %}
            {% if endgame in user.solved_endgames.all %}
                <a href="{% url 'category_endgame_list' category.name endgame.id %}" style="background-color: #5B7D5A;">
                    {{ forloop.counter }}
                </a>
            {% else %}
                <a href="{% url 'category_endgame_list' category.name endgame.id %}" style="background-color: #4F4F4F;">
                    {{ forloop.counter }}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    
    {% if detail_endgame %}
    <main id="container">
        {% include 'puzzles/_board.html' %}
        <div>
            <div id="puzzle_data"> 
                <div id="message"></div>
                <div>
                    <a href="{% url 'category_endgame_list' category.name next_endgame_id %}">next</a>
                </div>
            </div>
        </div>
    </main>
    {% else %}
        <p>No endgames found in this category.</p>
    {% endif %}

    <script>
        let start_fen = '{{ detail_endgame.fen }}';
        const category = '{{ category }}';
        const csrftoken = '{{ csrf_token }}';
    </script>
    <script type="module" src="{% static 'js/endgame.js' %}"></script>
{% endblock %}
