{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Chess{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/chesslogo.svg' %}" type="image/png">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <nav>
        <div id="navbar">
            <a href="{% url 'home' %}" class="barlink"><img src="{% static 'images/chesslogo.svg' %}" alt="logo" id="logo"></a>
            <div id="menu" class="menu">
                <a href="{% url 'analyze' %}" class="barlink">analyze</a>
                <a href="" class="barlink">study</a>
                <a href="" class="barlink">about</a>
            </div>
            
            <div id="login">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' username=user.username %}" class="barlink"> {{ user.username }}</a>
                    <a href="{% url 'account_logout' %}" class="button">Log Out</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="button">Log In</a>
                    <a href="{% url 'account_signup' %}" class="button">Sign Up</a>
                {% endif %}
            </div>
            <div id="hamburger" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    
    
    {% block content %}
    {% endblock content %}
    

<script>
document.getElementById('hamburger').addEventListener('click', function () {
    // Toggle the 'active' class on the navbar and menu for animation
    document.getElementById('navbar').classList.toggle('active');
    document.getElementById('menu').classList.toggle('active');
});
</script>

</body>
</html>