{% extends '_base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
{% endblock %}

{% block content %}

<content id="content">
    <div id="play" class="board">
        <a href="">play</a>
        <img src="{% static 'images/board.png' %}" alt="">
    </div>
    <div id="puzzles" class="board">
        <a href="{% url 'puzzle_home' %}">puzzles</a>
        <img src="{% static 'images/board.png' %}" alt="">
    </div>
    <div id="leaderboard" class="board">
        <h3>Leaderboard</h3>
        <div class="list">
            {% for item in top10 %}
                <div class="item">{{ forloop.counter }}. {{ item.puzzle_rating }} - {{ item }}</div>
            {% empty %}
                <p>No data available.</p>
            {% endfor %}
        </div>
    </div>
</content>


{% endblock content %}