{% extends '_base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
{% endblock %}

{% block content %}

<!-- <nav>
    <div id="navbar">
        <a href="" class="barlink" id="logo">logo</a>
        <a href="" class="barlink">analyze</a>
        <a href="" class="barlink">study</a>
        <a href="" class="barlink">about</a>
    
        <div id="login">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' username=user.username %}" class="barlink"> {{ user.username }}</a>
                
                <a href="{% url 'account_logout' %}" class="button">Log Out</a>
            {% else %}
                <a href="{% url 'account_login' %}" class="button">Log In</a>
                <a href="{% url 'account_signup' %}" class="button">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav> -->

<div id="content">
    <div id="play">
        <a href="">play</a>
        <img src="{% static 'images/board.png' %}" alt="">
    </div>
    <div id="puzzles">
        <a href="{% url 'puzzle_home' %}">puzzles</a>
        <img src="{% static 'images/board.png' %}" alt="">
    </div>
</div>


{% endblock content %}