#listbar{
    padding: 10px 10px 0 10px;
    display: flex;
}

#listbar a {
    flex: 1 1 auto; /* Allow elements to grow and shrink as needed */
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #313131; /* Optional: Add a border for visual separation */
    text-decoration: none; /* Optional: Remove underline from links */
    font-size: larger;
    color: white;
}

h3 {
    font-size: large;
    color: white;
    margin-left: 10px;
    padding: 5px 0;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
    margin: 0;
}

#container {
    position: relative;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

#puzzle_data {
    min-height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

#puzzle_data div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#puzzle_data div * {
    margin-top: 10px;
    display: inline;
    padding-right: 0;
}

#message {
    padding: 3px 0;
    color: white;
    font-size: larger;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    text-align: center;
}

#pgn {
    height: 360px;
}

@media screen and (max-width: 600px) {
    #container {
        flex-direction: column;
        align-items: center;
    }
    
    #puzzle_data {
        padding-left: 0;
        text-align: center;
        margin-top: 20px;
        align-items: center;
    }
    
    #message {
        position: relative;
        text-align: center;
        margin-bottom: 10px;
        top: 0;
    }
}